<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Fiber</title>
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/fiber.css"/>
        <script type="text/javascript" src="static/js/jquery-2.1.3.min.js">
        </script>
        <script type="text/javascript" src="static/js/bootstrap.min.js">
        </script>
        <script type="text/javascript" src="static/js/api.js">
        </script>
    </head>
    <body>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand">Fiber</a>
            </div>
        </div>
        <div class="container-fluid">
            <table class="table table-striped table-hover commands">
                <thead>
                    <tr>
                        <th>Command</th>
                        <th>Affected hosts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>
                            <button class="btn btn-link command" data-command="{{task.name}}">
                                <b>{{(task.doc or task.name) | capitalize}}</b>
                            </button>
                        </td>
                        <td>
                            {{ task.hosts|join(', ') }}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                </tbody>
            </table>
        </div>
        <div class="modal" id="status">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="active-cmd-name">
                            Run status
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="progress progress-striped active" id="progress">
                            <div class="progress-bar" style="width: 100%;"></div>
                        </div>
                        <pre id="log"></pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
